<div class="card-columns">
{{#if articles}}

    {{#each articles}}
    <div class="card">
        <form action="./censoredArticle" method="POST">
            <div class="card-header">
                {{#getImage this.content}}{{/getImage}}
            </div> 
            <div class="card-body mt-4">
                <h1 class="card-title">Article Title: {{this.title}}</h1>
                <p><em>by {{this.username}}</em></p>
                <p class="card-text">{{#summary this.content}}{{/summary}}</p>
            </div>
            <div>
                <button type="submit" class="card-link btn btn-danger" name="articleId" value="{{this.articleId}}" formaction="./article">Read Full Article!</button>
                <button type="submit" class="card-link btn btn-success" name="articleId" value="{{this.articleId}}">Read Full Censored Article!</button>
            </div>
        </form>

        </div>
    
    {{/each}}
    </div>
{{/if}}
