<div class="container">
    
    <h1>Hello, {{#if loggedIn}} {{user.name}}!{{else}} Stranger!{{/if}}</h1>
    <p>This is your homepage!</p>
    <p>[Contents here]</p>
    <p>Click <a href="./logout">here</a> to log out.</p>

</div>